<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CadenaBD" value="Data Source=200.69.137.167,11333;Initial Catalog=BD3K3G02_2022;User ID=BD3K3G02_2022;Password=CLV02_22044"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>